ColumnLimit: 0
MaxEmptyLinesToKeep: 0
IndentWidth: 1
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
SpaceAfterCStyleCast: false